.navbar {
  background-color: #131921;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 01;
  height: fit-content;
}

.navbar__menu-wrapper {
  padding: 5px;
  margin-left: 10px;
}

.navbar__menu-wrapper:hover {
  cursor: pointer;
  opacity: 0.9;
}
.navbar__menu-icon {
  color: #fff !important;
  font-size: 25px !important;
}

.navbar__logo {
  width: 90px;
  object-fit: contain;
  margin: auto 20px;
  margin-top: 10px;
}

.navbar__search {
  display: flex;
  flex: 0.95;
  align-items: center;
  padding: 10px 4px 10px 3px;
}

.navbar__search-input {
  height: 30px;
  border: 1px solid #ccc;
  outline: none;
  padding: 0 5px;
  width: 100%;
}

.navbar__search-icon {
  background-color: #f79b33;
  padding: 0.5px;
  font-size: 30px !important;
}

.navbar__search-icon:hover {
  cursor: pointer !important;
}

.navbar__list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navbar__link {
  color: white;
  text-decoration: none;
}

.navbar__option {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

.navbar__option-1 {
  font-size: 12px;
  font-weight: 900;
}

.navbar__option-2 {
  font-size: 14px;
  font-weight: 800;
}

.navbar__option-two:hover {
  cursor: pointer;
}
.navbar__option-two svg {
  font-size: 16px;
  position: relative;
  top: 3px;
}

.navbar__option-icons {
  display: flex;
  align-items: center;
  position: relative;
}

.navbar__option-cart-icon {
  font-size: 38px !important;
}

.navbar__option-cart {
  font-size: 20px;
}

.navbar__option-cart-number {
  position: absolute;
  top: -7px;
  left: 14px;
  font-size: 24px;
  background-color: #131921;
}

.navbar__option-cart-number span {
  color: #f79b33;
}

.navbar_username {
  font-size: 13px;
}

a {
  color: #fff;
  font-size: 16px;

  text-decoration: none;
}

@media (max-width: 590px) {
  .navbar__menu-icon {
    font-size: 1rem !important;
  }

  .navbar__option {
    display: none;
  }
  .navbar__link {
    margin-left: 5px;
  }
  .navbar__logo {
    width: 45px;
  }

  .navbar__search-input {
    height: 25px;
  }

  .navbar__search-icon {
    font-size: 25px !important;
  }

  .navbar__option-cart-icon {
    font-size: 20px !important;
  }

  .navbar__option-cart-number {
    font-size: 10px;
  }
}

@media (min-width: 490px) {
  .navbar {
    height: 60px;
  }

  .navbar__option-cart {
    font-size: 16px;
  }

  .navbar__option-cart-icon {
    font-size: 30px !important;
  }

  .navbar__option-cart-number {
    font-size: 17px;
    top: -4px;
    left: 10px;
  }
  .navbar__option-1 {
    font-size: 12px;
    font-weight: 900;
  }
}

@media (max-width: 419px) {
  .navbar__menu-wrapper {
    padding: 5px;
  }

  .navbar__menu-icon {
    color: #fff !important;
    font-size: 22px !important;
  }

  .navbar__logo {
    margin: 5px;
    margin-top: 15px;
  }
  .navbar__option-one {
    display: none !important;
  }
}
