.sidenav__links {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: 100vh;
  width: 250px;
  padding-top: 60px;
  background-color: #fff;
  transform: translateX(-250px);
  transition: transform 0.3s;
}

.sidenav__open .sidenav__links {
  transform: translateX(0px);
  box-shadow: 0 0 15px rgba(#000000, 0.2);
}

.sidenav__link {
  display: flex;
  align-items: center;
  color: #131921;
  font-size: 16px;
  padding: 20px;
  line-height: 16px;
  transition: background-color 0.2s;
}

.sidenav__link:hover {
  background-color: #eee;
  cursor: pointer;
}

.sidenav__link span {
  margin-left: 10px;
  color: black;
}

.sidenav__link svg {
  font-size: 20px;
  margin-right: 5px;
}

.sidenav__links .sidenav__link:not(:last-child) {
  border-bottom: 1px #ccc dotted;
}

.sidenav__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  filter: blur(2px);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 99;
}

.sidenav__open .sidenav__overlay {
  visibility: visible;
  opacity: 1;
}

.active__link {
  background-color: #eee;
}
